/**
* signup.css
**/
.red{
 color:#d9534f;
}
.error-field {
	position: absolute;
	right: 15px;
	z-index: 1000;
	top: 11px;
}
.removeDefaultMargin{
  margin-bottom:0px;
}
#signupForm .form-group>div{
  margin-bottom:10px;
}